{% extends "basic.html" %}

{% block status %}
{% if session.logged_in %}
<ul class="nav pull-right">
  <li><a style="fontsize:20px" hred="#">{{ session.username }}</a></li>
  <li><a href="/signout">Sign out</a></li>
</ul>
{% else %}
<ul class="nav pull-right">
  <li><a href="/signin">Sign in</a></li>
  <li><a href="/register">Register</a></li>
</ul>
{% endif %}
{% endblock status %}


{% block title %}
<h1 style="text-align:center">{% block name %}{% endblock name %}Welcome to Legooo!</h1>
{% endblock title %}


{% block head %}
<hr>
<div class="container">
  <div id="newaccount" class="span12" style="text-aligh:center">
    <p><span class="label">Sidong Huang: </span><br></p>
    <p><span class="label label-success">Gmail: </span>&nbsp;&nbsp;stonestylesun123@gmail.com<br></p> 
    <p><span class="label label-inverse">&nbsp;&nbsp;Github:&nbsp;&nbsp;</span>&nbsp;&nbsp;https://github.com/stonestylesun123/shop-web-site</p>
  </div>
</div>
<hr>
{% endblock head %}

{% block body %}
<script type="text/javascript">
  document.body.onload = function() {
    document.getElementById("li-contact").className = "active"; 
  }
</script>
{% endblock body %}
